@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --main-background-color: #1B2329;
    --main-foreground-color: #ffffff;
    --main-invert-value: 100%;

    --secondary-background-color: #CDD9EA;
    --secondary-foreground-color: #000000;
    --secondary-invert-value: 0%;
    
    --suggestion-color: #FFFFFF4D;
    --background-image: url("bg.jpg");
    --font-family: 'Montserrat', sans-serif;

    --separator-width: 1px;
    --border-radius: 8px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body {
    background-color: var(--main-background-color);
}

.main {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: var(--font-family);
    color: var(--main-foreground-color);
}

.image {
    width: 100%;
    height: 100%;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-color: var(--main-background-color);
}

.content, .main_content {
    width: 100%;
    height: 100%;
    background-color: var(--main-background-color);
}

.main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 48px;
    width: 100%;
    height: 100%;
    gap: 16px;
}

.top_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.command_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.command_dropdown {

    background-color: var(--secondary-background-color);
    color: var(--secondary-foreground-color);
    padding: 6px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.currently_selected{
    display: flex;
    align-items: center;
}

.currently_selected:hover {
    text-decoration: underline;
}

.command_dropdown[data-dropdown-visibility="visible"]{
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.command_icon {
    filter: invert(var(--secondary-invert-value));
}

.dropdown_menu {
    position: absolute;
    top: calc(12px + 24px);
    left: 0px;
    padding: 6px;
    color: var(--secondary-foreground-color);
    background-color: var(--secondary-background-color);
    border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
}

.dropdown_menu[data-dropdown-visibility="invisible"]{
    display: none;
}

.dropdown_option {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--secondary-foreground-color);
}

.dropdown_menu li:last-child {
    margin-bottom: 0px;
}

.input_wrapper {
    position: relative;
}

.command_input, input::placeholder{
    all: unset;
    color: var(--main-foreground-color);
    width: 30ch;
    overflow: scroll;
    /* z-index: 1; */
}

#command_text {
    margin-right: 8px;
}

.suggestion_text {
    position: absolute;
    top: 0%;
    left: 0%;
    color: var(--suggestion-color);
    padding: calc((35px - 19px) / 2) 0;
    /* z-index: 2; */
}

.info {
    display: flex;
    gap: 8px;
    align-items: center;
}

.weather {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* INVERT WOULDN'T WORK IN LIGHT BACKGROUND... MAYBE MAKE IT DO SOMETHING ELSE? OPPOSITE COLOR? */
.weather_icon {
    filter: invert(var(--main-invert-value));
}
.bar_separator {
    height: 24px;
    width: var(--separator-width);
    background-color: var(--main-foreground-color);
}

.separator {
    height: var(--separator-width);
    background-color: var(--main-foreground-color);
}
.bookmarks {
    display: flex;
    gap: 48px;
    position: relative;
    z-index: 0;
}

.title {
    margin-bottom: 16px;
    font-weight: 500;
}

li, a{
    text-decoration: none;
    color: var(--main-foreground-color);
    /* color: white; */
    list-style-type: none;
    margin-bottom: 8px;
    font-weight: 300;

}

li:hover, a:hover{
    text-decoration: underline;

}

.settings_icon {
    position: absolute;
    bottom: 50px;
    right: 50px;
    filter: invert(var(--main-invert-value));
    cursor: pointer;
}

.settings {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 48px;
    gap: 16px;
}

/* Animations */

@keyframes fade_in_content {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.settings_icon, .separator{
    animation: fade_in_content 0.9s forwards;
}

.top_bar, .bookmarks {
    opacity: 0;
    animation: fade_in_content 0.7s forwards 0.2s;
}