@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
    --primary-background-color: #1B2329;
    --primary-foreground-color: #ffffff;
    --primary-invert-value: 100%;

    --secondary-background-color: #CDD9EA;
    --secondary-foreground-color: #000000;
    --secondary-invert-value: 0%;
    
    --old-primary-background-color: #1B2329;
    --old-secondary-background-color: #CDD9EA;

    --background-image: url("bg.jpg");
    --placeholder-image: url("bg.jpg");
    --font-family: 'Montserrat', sans-serif;

    --separator-width: 1px;
    --border-radius: 8px;

    --fade-duration: 0.5s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

body {
    background-color: var(--primary-background-color);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: var(--font-family);
    color: var(--primary-foreground-color);
}

*[data-visibility="invisible"]{
    display: none !important;
}

#content {
    max-width: 1280px;
}

#background-image, #placeholder-image {
    position: absolute;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

#placeholder-image {
    background-image: var(--placeholder-image);
}

.fade-out-image {
    animation: fadeOut var(--fade-duration) forwards;
}

.primary-bg-animation {
    animation: primaryBgAnimation var(--fade-duration) forwards;
}

.secondary-bg-animation {
    animation: secondaryBgAnimation var(--fade-duration) forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes primaryBgAnimation {
    0% { background-color: var(--old-primary-background-color); }
    100% { background-color: var(--primary-background-color); }
}

@keyframes secondaryBgAnimation {
    0% { 
        background-color: var(--old-secondary-background-color);
     }
    100% { 
        background-color: var(--secondary-background-color);
     }
}

/* 
General Styles Start
*/
.secondary-icon {
    filter: invert(var(--secondary-invert-value));
}

#image-wrapper {
    position: relative;
}

.general-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-gap {
    gap: 8px;
}

.input{
    all: unset;
    color: var(--main-foreground-color);
    width: 20ch;
    overflow: scroll;
}

.input::placeholder {
    color: var(--main-foreground-color);
}

.vertical-separator {
    height: 24px;
    width: var(--separator-width);
    background-color: var(--primary-foreground-color);
}

.horizontal-separator {
    height: var(--separator-width);
    background-color: var(--primary-foreground-color);
}

.secondary-popup {
    background-color: var(--secondary-background-color);
    color: var(--secondary-foreground-color);
    padding: 6px;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.title {
    margin-bottom: 16px;
    font-weight: 500;
}
/* 
General Styles End
*/

/* 
start-page section start
*/

#start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 48px;
    width: 100%;
    height: 100%;
    gap: 16px;
}

#status-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

#current-search-selection:hover {
    text-decoration: underline;
}

#current-search-type__icon {
    margin-left: 8px;
}

#dropdown__menu {
    position: absolute;
}

#input__wrapper {
    position: relative;
}

#suggestion-text {
    position: absolute;
}

#weather__icon {
    filter: invert(var(--primary-invert-value));
}

.bookmarks {
    display: flex;
    gap: 48px;
    position: relative;
    z-index: 0;
    flex-wrap: wrap;
}

li, a{
    text-decoration: none;
    color: var(--main-foreground-color);
    list-style-type: none;
    margin-bottom: 8px;
    font-weight: 300;
}

li:hover, a:hover{
    text-decoration: underline;
}

/* 
start-page section end
*/